# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl

# Ansible
ansible/inventory.ini

# Secrets / env
*.env
*.pem

# Node
node_modules/
